@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'basic-commersial-regular';
    src: url('/public/static/fonts/basic-commercial/BasicCommercialLT-Black.ttf') format('truetype');
    font-display: swap;
}

body{
    background-color: #f7f7f7;
}

@media screen and (max-width: 768px) {
    .custom-w {
        width: 182% !important;
    }
    
}